h1{
    font-family: "Montserrat-Black";
    font-size: 4.6rem;
    line-height: 1.5;
}
h2{
    font-family: "Montserrat-bold";
    font-size: 3rem;
    line-height: 1.5;
}
h3{
    font-family: "Montserrat-bold";
    font-size: 2rem;
}
body{
    font-family: "Montserrat-Thin"; 
}
p{
    color: #8f8f8f;
}

/* Navigation Bar */
.navbar{
    padding: 0 0 4.5rem;
}
.navbar-brand{
    font-family: "Ubuntu-Light";
    font-size: 2.5rem;
    font-weight: bold;
}
.nav-item{
    padding: 0 18px;
}
.nav-link{
    font-family: "Montserrat";
    font-family: "Montserrat-Light";
    font-size: 1.2rem;
}

/* title section */
#title {
    background-color: #ff4c68;
    color: #fff;
}
.container-fluid{
    padding: 3% 15% 7%;
}
.download-button{
    margin: 5% 3% 5% 0;
}
 /* Title image */
.titleImage{
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;
}
@media (max-width:1028px){
    #title{
        text-align: center;
    }
    .titleImage{
        position: static;
        transform: rotate(0);
    }
}

/* features section */
#features{
    padding: 7% 15%;
    background-color: #fff;
    position: relative;
    z-index: 1;
}
.fas{
    color: #ef8172;
    margin-bottom: 1rem;
}
.fas:hover{
    color: #ff4c68;
    
}
.featuresBox{
    text-align: center;
    padding: 5%;
}

/* testimonials section */
#testimonials{
    text-align: center;
    background-color:  #ef8172;
    color: #fff;    
}
/* padding在此上下互換差別位於：原先padding在於壓縮carousel-item壓縮在testimonial內，對調後改成padding carousel-item填充整個testimonial區塊 */
.carousel-item{
    padding: 7% 15%;
}
.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

/* press section */
#press{
    background-color:  #ef8172;
    text-align: center;
    padding-bottom: 5%;
    
}
.pressLogo{
    width: 15%;
    margin: 20px 20px 50px  ;
}

/* pricing section */
#pricing{
    text-align: center;
    padding: 100px
}
.card{
    padding: 3% 2% ;
}
.card-body{
    font-family: "Montserrat-900";
    line-height: 1;
}

/* callToAction section */

#cta{
    background-color: #ff4c68;
    padding: 7% 15%;
    text-align: center;
}
.cta-h3{
    font-family: "Montserrat-900";
    color: #fff;
    padding: 0 0 0 10px;
}
.cta-btn{
    margin: 5% 3% 5% 0;
    padding: 5px 20px;
}

/* footer section */
#footer{
    background-color: #fff;
    text-align: center;
    padding: 7% 15%;
}
.footerIcon{
    margin: 0 10px;
    padding: 20px 0;
}